<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Terminator View</title>

  <!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->

	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#3D9970">
	<!-- Custom Browsers Color End -->

  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  <div class="demo">
      <video class="demo__video" id="player" src="" controls autoplay></video>

      <canvas class="demo__canvas" id="canvasForVideo"></canvas>
  </div>

  <script src="js/bundle.js"></script>
</body>
</html>
