@font-face {
  font-family: 'Apple';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Apple.eot'); /* IE9 Compat Modes */
  src: local('Apple'), local('Apple-Regular'),
       url('../fonts/Apple.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Apple.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Apple.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Apple.svg#Roboto') format('svg'); /* Legacy iOS */
}
