@import "./fonts";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.demo__video {
  display: none;
}

.demo__canvas {
  width: 100vw;
  height: 100vh;
  min-width: 900px;
  min-height: 600px;
}
