@import "./fonts";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-size: 16px;
  font-family: "Apple", sans-serif;
  background-color: black;
}

.demo {
  position: relative;
  font-family: "Apple", sans-serif;
  font-weight: 400;
  font-size: 1px;
}

.demo__video {
  display: none;
}

.demo__canvas {
  width: 100vw;
  height: 100vh;
  min-width: 900px;
  min-height: 600px;
}

.demo__canvas--back-layer {
  display: none;
}

.demo__canvas--interface-layer {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 2;
}
